.image-selector-wrapper {
    display: grid;
    /* grid-template-rows: 35% 1% 35% 19%; */
    grid-template-rows: 5% 44% 0.5% 5% 44% 2%; 
    height: 93vh; /* Ocupa toda la altura de la ventana */
    /* gap: 10px; Espacio entre las filas */
  }
  

  
  .divider-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .divider {
    width: 100%;
    /* border-top: 1px solid hsl(0, 0%, 100%); */
    border-top: 1px solid white;
    
  }
  .section {
    /* display: flex;
    flex-direction: column;
    overflow: auto;  */
    display: flex;
    flex-direction: column;
    overflow: auto; /* Permite scroll si el contenido excede la altura */
  }
  
  .image-grid {
    /* display: grid;
    grid-template-columns: 1fr 5fr; 
    gap: 20px; 
    height: 100%; */
    display: grid;
    grid-template-columns: 1fr 5fr; /* Dos columnas: imagen pequeña y resultado más grande */
    gap: 20px; /* Espacio entre las columnas */
    height: 100%; /* Ocupar todo el espacio disponible */
    align-items: start; /* Alinear los elementos al inicio de la fila */
   
  }

  
  .seccion-imagen{
    height: 300px;
  }

  .resultado {
    
    height: 97%; /* Máxima altura dentro del grid */
    overflow-y: auto; /* Habilitar scroll dentro de ResultadoReverso si el contenido sobrepasa */
    background-image: linear-gradient(145deg, #f0f0f0, #e0e0e0); /* Colores entre gris y blanco */

    /* Sombra para el efecto de profundidad */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.15);

    /* Borde redondeado para suavizar los contornos */
    border-radius: 10px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 10px; */
    margin-top: 20px;
  }
  
  button {
    /* margin-top: 20px; */
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bfff0;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
    width: 400px;
    
  }
  
  button:hover {
    background-color: #0056b3;
  }


  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(0,21,41,255);
    /* background-color:  #007bfff0; */
    border-radius: 10px;
    margin-bottom: 5px;
    color: whitesmoke
  }

  .Titulo-frontal{
    text-align: center; /* Centra el texto horizontalmente */
    font-size: large;
    font-weight:lighter;
  }

  .Titulo-reverso{
    text-align: center; /* Centra el texto horizontalmente */
    font-size: large;
    font-weight:lighter;
    
  }


